<!DOCTYPE html>
<html lang="en-US">
	{% include hub/head.html %}
	<body>
		{% include hub/header.html %}
		{{ content }}
		{% include hub/callOut--forum.html %}
		{% include hub/footer.html %}
		<script type="text/javascript">{% include js/smoothScrolling.js %}</script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
		<script type="text/javascript">{% include js/docsearch.js %}</script>
		{% include analytics.html %}
	</body>
</html>
